


/*=================================PRODUCT LISTING START =============================================*/

.breadCrumbsContainer{
    background-color: #fff;
    padding: 20px 10px;
    margin-bottom: 10px;
    text-align: left;
}
.breadCrubmsList {
    display: flex;
    align-items: center;
}
.breadCrubmsList a,
.breadCrubmsList a:hover{
    color: #000;
}
.breadCrubmsList>li{
    margin-right: 5px;
}
.breadCrubmsList>li:last-child {
    font-family: 'OpenSans-Bold', sans-serif;
}










.prodListingTitle p {
    margin: 40px 0;
    font-size: 29px;
    font-family: 'OpenSans-Bold', sans-serif;
    color: #414141;
    text-transform: uppercase;
    font-weight: 600;
    background: #f0f0f0;
    padding: 10px 0;
}











.seeMoreProducts{
    padding: 30px 0;
    text-align: center;
}

.seeMoreProducts .showMoreBtn{
    font-family: OpenSans-Semibold, sans-serif;
    display: inline-block;
    background: #fff;
    border: 2px solid #000;
    border-radius: 2px;
    padding: 18px 55px;
    text-align: center;
    cursor: pointer;
    color: #000;
    font-size: 18px;
    outline: none;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.showMoreBtn:hover{
    background: #000;
    color: #fff;
}













.listingContainer{
    border-bottom: 1px solid #000;
    padding: 10px 0;
}
.categoriesListBlock{
    width: 20%;
}
.categoriesListTitle{
    margin-bottom: 20px;
    font-family: 'OpenSans-Extrabold', sans-serif;
    font-size: 22px;
}

.categoriesListing li{
    padding: 10px 0;
}
.categoriesListing li a{
    width: 100%;
    display: inline-block;
}
.categoriesListing li a,
.categoriesListing li span{
    transition: .3s;
}
.categoriesListing li:hover a{
    color: #000;
}
.categoriesListing li:hover .categoryProdsCount{
    background: #000;
    color: #fff;
}

.categoryProdsCount{
    background: #fff;
    color: #000;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 0 5px;
    margin-left: 5px;
    font-size: 11px;
}











.categoriesAndListingBlock{
    display: flex;
}

.prodListingContainer{
    flex: 1;
}










/*==================================FILTER PART ============================*/


.filtersContainer {
    font-family: OpenSans, sans-serif;
}

.mobileFiltersButton{
    display: none;
}

.filtersBlockParent{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.filterBlock{
    flex-basis: 16.3%;
    position: relative;
    margin-right: 5px;
}

.filterTitle{
    position: relative;
    text-align: left;
    border: 1px solid #bfbfbf;
    background-color: #fff;
    padding: 13px 20px;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    margin: 0;
    height: 100%;
    text-transform: capitalize;
}
.filterTitle.up:after,
.filterTitle.down:after{
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 15px;
    height: 10px;
    background-repeat: no-repeat;
    transform: translateY(-50%);
}
.filterTitle.up:after{
    background-image: url(../GlobalAssets/img/multiselect/arrowUp.png);
}
.filterTitle.down:after{
    background-image: url(../GlobalAssets/img/multiselect/arrowDown.png);
}
.filterBody{
    position: relative;
}
.filterContentContainer{
    position: absolute;
    width: 320px;
    margin-top: 2px;
    background: #fff;
    z-index: 3;
    border: 1px solid #bfbfbf;
    overflow-x: hidden;
    padding: 8px 20px 20px 20px;
    display: none;
}
.filterContentContainer.active{
    display: block;
}
.filterResetBlock{
    font-family: OpenSans, sans-serif;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    text-align: right;
    margin-bottom: 20px;
}

.rangeSlider{
    display: flex;
    justify-content: space-between;
    align-items: center;
}







.rangeSliderValue{
    width: 120px;
    color: #fff;
    text-align: center;
    background: #000;
    padding: 4px 4px;
    margin-left: 10px;
    border-radius: 0;
}

.rangeSliderRange {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #000;
}



.rangeSliderRange:active::-webkit-slider-thumb,
.rangeSliderRange::-webkit-slider-thumb:hover{
    background: #777
}

.rangeSliderRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    -o-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out
}


.rangeSliderRange::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    -o-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out
}

.rangeSliderRange::-moz-range-thumb:hover,
.rangeSliderRange:active::-moz-range-thumb{
    background: #ccc
}

.rangeSliderRange:focus::-webkit-slider-thumb {
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 6px #777;
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #777
}


::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0;
}

.filterItemsList {
    margin: 15px 0;
    overflow-y: auto;
    height: 100px;
    max-height: 100px;
}

.filterItemBlock {
    margin: 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filterItemInfo {
    width: 100%;
    margin-left: 20px;
}

.checkmark{
    height: 23px;
    width: 30px;
    background: #ececec;
    position: relative;
}

.checkmark:hover{
    background: #ccc;
}

.checkmark.active:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 12px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}
.filterApply{
    font-family: OpenSans-Bold, sans-serif;
    padding: 10px;
    background-color: #cccc;
    border: 1px solid #fffc;
    z-index: 1;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
.filterApply.enabled{
    background-color: #000;
    border-color: #000;
}


.filterGridList {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
.filterGridItemBlock {
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 0;
    position: relative;
}
.filterGridItem {
    width: 35px;
    height: 35px;
    border: 1px solid #d5d5d5;
    font-family: OpenSans-Bold, sans-serif;
    cursor: pointer;
    position: relative;
}
.filterGridItem.active.black:after,
.filterGridItem.active:after{
    content: ' ';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 12px;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
    border-style: solid;
    border-color:  #fff;
}
.filterGridItem.active.black:after{
    border-color: #000;
}
.filterGridItemInfo {
    position: absolute;
    font-size: 11px;
    width: 100%;
    text-align: center;
    text-transform: lowercase;
    overflow: hidden;
    left: 0;
    top: 100%;
}


.fiterSearch{
    position: relative;
    padding-right: 20px;
}
.fiterSearch:after{
    content: ' ';
    position: absolute;
    background-image: url(../GlobalAssets/img/multiselect/search.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 26px;
    background-position: 0 0;
    top: 2px;
    left: 0;
}
.filterSearchInput{
    width: 100%;
    padding: 6px 5px 6px 34px;
    border: 0;
    border-bottom: 1px #bfbfbf;
    outline: 0;
    border-bottom: 2px solid #000;
}


.filterItemsSpiner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.selectedFiltersContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.selectedFiltersParent {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-right: 10px;
}
.selectedFilter {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 25px;
    position: relative;
    margin-right: 20px;
    margin-bottom: 10px;
}
.removeFilter {
    position: absolute;
    color: #fff;
    background: #000;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    right: -10px;
    top: -10px;
    font-size: 12px;
}
.selectedFilter > span {
    font-family: OpenSans-Bold, sans-serif;
}
.resetAllFilters {
    font-family: OpenSans, sans-serif;
    border: solid 1px #000;
    display: flex;
    padding: 7px 15px;
    font-size: 14px;
    text-transform: capitalize;
    background: #000;
    color: #fff;
    cursor: pointer;
}


@media screen and (max-width: 1700px){
    .filterBlock:last-child .filterContentContainer.active{
        right: 0;
    }
}

@media screen and (max-width: 1200px){
    .filtersBlockParent{
        flex-wrap: wrap;
    }
    .filterBlock{
        flex-basis: 32%;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .filterContentContainer.active{
        right: 0;
    }
    .selectedFiltersParent{
        padding-left: 20px;
    }
}

@media screen and (max-width: 992px){

    .outfitListingContainer{
        overflow: hidden;
    }
    .filtersBlockParent{
        display: none;
    }
    .mobileFiltersButton{
        display: block;
        font-family: OpenSans-ExtraBold, sans-serif;
        background-color: #fff;
        cursor: pointer;
        width: 97%;
        border: 1px solid #000;
        color: #000;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        padding: 10px 0;
        margin: 10px auto;
        text-align: center;
    }
    .showFiltersModal {
        display: block;
        background: #fff;
        position: fixed;
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        padding: 30px 10px 0 10px;
        overflow: auto
    }
    .filtersModalHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 96%;
        margin: 0 auto 10px;
    }
    .closeFiltersModal{
        background: 0 0;
        border: 0;
        padding: 5px;
        position: relative;
        left: 0;
        font-size: 30px;
    }

    .text-mobile-filter{
        font-family: OpenSans-ExtraBold, sans-serif;
        width: 100px;
        background-color: #fff;
        padding: 0 6px;
        font-size: 14px;
        border-radius: 0;
        cursor: pointer;
        border: 0;
        color: #000;
        text-align: right;
        text-transform: uppercase;
        font-weight: 700;
    }
}

@media screen and (max-width: 576px){
    .filterContentContainer{
        position: relative;
        width: unset;
    }
}
/*=====================================FILTER END ===================*/











.proposalsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;
    border-bottom: 2px solid #f70063;
}
.filterTab {
    display: flex;
    justify-content: center;
    flex: 1;
    font-size: 20px;
    cursor: pointer;
    color: #414141;
    text-transform: uppercase;
    padding: 4px 0;
}
.filterTab:hover {
    background-color: #f0f0f0;
}

.activeFilterTab, .activeFilterTab:hover {
    background: #f70063;
    color: #fff;
}
















.productsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.productBlock{
    position: relative;
    border: solid 1px #d8d8d8;
    transition: .3s;
    padding: 10px;
    background: #fff;
    cursor: pointer;
    width: 23.5%;
    margin-right: 10px;
    margin-bottom: 15px;
}
.productBlock:hover{
    border-color: #000;
}

.onsale-badge {
    position: absolute;
    left: -5px;
    top: -5px;
    text-align: center;
    font-size: 10px;
    background-image: url(../img/Sale.svg);
    color: #fff;
    background-repeat: no-repeat;
    width: 54px;
    background-size: contain;
    height: 61px;
    z-index: 1;
}
.onsale-badge .onsale-badge-content {
    top: 45%;
    position: absolute;
    width: 100%;
    margin: 0;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
}
.onsale-badge .onsale-badge-content .onsale-number {
    font-size: 26px;
    letter-spacing: -2px;
    margin-right: 2px;
    display: inline-block;
    vertical-align: middle;
}
.onsale-badge .onsale-badge-content .onsale-icon-block {
    width: 14px;
    font-family: OpenSans-Light, sans-serif;
    margin-top: 4px;
    margin-right: 0;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.onsale-badge .onsale-badge-content .onsale-icon {
    font-size: 16px;
    vertical-align: bottom;
    display: inline-block;
}
.onsale-badge .onsale-badge-content .onsale-text {
    display: inline-block;
    font-size: 8px;
    vertical-align: super;
    margin-top: -2px;
}




.productBlock .productTop {
    height: 324px;
    margin-bottom: 10px;
    position: relative;
}
.productBlock .productTop img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.productTop .productInOutfits{
    position: absolute;
    bottom: 10px;
    right: 0;
    background: #efefef;
    color: #333;
    padding: 3px 5px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    font-family: OpenSans-Italic, sans-serif;
    z-index: 3;
    text-transform: uppercase;
}
.heart-absolute {
    position: absolute;
    right: 0;
    top: 0;
}
.heart-absolute label {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    color: #9c9c9c;
}
.heartIcon {
    width: 30px;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}
.heartIcon:hover path{
    fill: #f06;
}
.prodFooterTop,
.prodSizesAndShopBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prodNameAndprodBrandBlock{
    width: 60%;
}
.prodOldPriceAndRealPriceBlock{
    flex: 1;
    text-align: right;
}
.prodFooterTop{
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.prodName{
    font-family: OpenSansLight-Italic,sans-serif;
}
.prodBrand{
    font-family: OpenSans-Bold,sans-serif;
    text-transform: uppercase;
}
.prodBrand,
.prodName{
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
}
.prodOldPrice{
    font-size: 10px;
    text-decoration: line-through;
    font-family: OpenSansLight,sans-serif;
    font-weight: 900;
}
.prodOldPrice > span{
    font-family: OpenSans-ExtraBold, sans-serif;
}
.prodRealPrice{
    font-family: OpenSans-Light, sans-serif;
    font-size: 13px;
    color: #f06;
}
.prodRealPrice > span{
    font-family: OpenSans-ExtraBold, sans-serif;
    font-size: 15px;
}

.prodShopName {
    font-size: 12px;
    text-transform: capitalize;
    font-family: OpenSansLight-Italic, sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 40%;
    text-align: right;
}
.prodSizes {
    flex: 1;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.prodSizes::-webkit-scrollbar {
    display: none;
}
.prodSizes > span{
    padding-right: 3px;
    color: #08e8de;
    font-size: 10px;
    font-family: OpenSans-Italic, sans-serif;
}


.productCategoriesConteiner {
    display: none;
    margin-left: 0;
    margin-bottom: 0
}

.filter-mselect-wrapp .productCategoriesConteiner .slick-list.draggable {
    height: unset !important;
}




.preventScrolling{
    overflow: hidden;
}
@media screen and (max-width: 1200px){
    .productBlock{
        width: 31.5%;
    }
}

@media screen and (max-width: 992px) {

    #filter-mselect .filter-mselect-wrapp {
        display: none;
        text-align: center;
        padding: 100px 0 0 0
    }

    #filter-mselect .mobile-filter-wrapp button.mobile-mselect {
        font-family: OpenSans-ExtraBold, sans-serif;
        background-color: #fff;
        cursor: pointer;
        width: 97%;
        border: 1px solid #000;
        color: #000;
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        padding: 7px 10px;
        box-sizing: border-box
    }

    #filter-mselect .mobile-filter-wrapp {
        display: block;
        margin: 0 0 6px;
        text-align: center;
    }
    #result-filter{
        margin: 20px 0;
        padding: 0 20px;
    }
    .categoriesListBlock{
        display: none;
    }
    .productsContainer{
        justify-content: center;
    }
    .proposalsContainer{
        margin-bottom: 20px;
    }


    .productCategoriesList li>a{
        padding: 15px;
        display: inline-block;
        position: relative;
        font-weight: bold;
        text-transform: uppercase;
        color: black;
        outline: none;
        font-family: 'OpenSans-Bold', sans-serif;
    }
    .productCategoriesList li:first-child>a{
        padding-left: 0;
    }
    .productCategoriesList li>a:after{
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 30%;
        background: #000000;
    }
    .productCategoriesList li:last-child>a:after{
        display: none;
    }
    .productCategoriesList li{
        display: inline-block;
    }



}

@media screen and (max-width: 768px){
    .productBlock {
        width: 45.5%;
    }
}

@media screen and (max-width: 576px){

    .prodFooterTop{
        flex-direction: column;
        align-items: center;
    }
    .prodNameAndprodBrandBlock{
        width: 100%;
        text-align: center;
    }
    .prodName{
        display: none;
    }
    .prodOldPriceAndRealPriceBlock{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    .filterTab{
        font-size: 14px;
    }
    .prodListingTitle p{
        font-size: 20px;
    }
    .breadCrubmsList>li{
        margin-right: 10px;
        font-size: 14px;
    }
    .prodSizes{
        margin-right: 10px;
    }
    .productBlock .productTop{
        height: 200px;
    }
}

@media screen and (max-width: 340px){
    .prodOldPriceAndRealPriceBlock{
        flex-direction: column;
    }
}

/*=================================PRODUCT LISTING OVER =============================================*/


/*==================================SINGLE PRODUCT PART START ====================================*/










.ProductSection{
    margin-bottom: 50px;
}
.productContainer{
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
}
.pesentationBlock{
    margin-right: 10px;
    width: 53%;
}






.prodImgBlock{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d8d8d8;
}

.productHeartBlock{
    background: #f70063;
    text-transform: uppercase;
    color: #fff;
    font-family: OpenSans-Semibold, sans-serif;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.productHeartBlock > span {
    margin-right: 15px;
    font-size: 18px;
    vertical-align: middle;
    letter-spacing: 2px;
}
.productHeartBlock svg{
    stroke-width: 2px;
}
.productHeartBlock:hover .heartIcon path{
    fill: #66e9df;
}




.socialMediaButtonsDesktop{
    display: flex;
    align-items: center;
    margin: 5px 0;
    justify-content: space-between;
}

.socialMediaButtonsDesktop > a:first-child{
    color: #4267b2;
    border-color: #4267b2;
}
.socialMediaButtonsDesktop > a:first-child:hover{
    color: #fff;
    background-color: #4267b2;
}
.socialMediaButtonsDesktop > a:last-child{
    color: #c00111;
    border-color: #c00111;
}
.socialMediaButtonsDesktop > a:last-child:hover{
    color: #fff;
    background-color: #c00111;
}
.socialMediaButtonsDesktop > a{
    width: 49.5%;
    text-align: center;
    background: #f0f0f0;
    border: 2px solid #b7b7b7;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    font-family: OpenSans-Bold, sans-serif;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.socialMediaButtonsDesktop > a > i{
    font-size: 40px;
    margin-right: 5px;
}
.emailSubscribingContainer{
    border-top: solid 2px #b7b7b7;
    background: #f0f0f0;
    padding: 15px;
    margin-top: 5px;
}








.detailedInfoBlock{
    flex: 1;
    position: relative;
    background: #fff;
}
.additionalProductImageBlock{
    display: none;
}
.detailedInfoBlock > .onsale-badge{
    position: relative;
}
.prodDetailedInfoBlock {
    margin: 20px 0;
    padding: 0 20px;
}

.prodInformations {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.prodSubBlockTitle{
    color: #000;
    font-family: OpenSans-Italic, sans-serif;
    font-size: 18px;
}

.productShopName {
    font-size: 23px;
    font-family: OpenSans-BoldItalic, sans-serif;
    margin-bottom: 50px;
}
.productBrandName {
    font-size: 25px;
    font-family: OpenSans-Italic, sans-serif;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}


.prodShopAndBrandBlock {
    width: 315px;
}
.prodPriceInfoBlock {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.productOldPrice{
    font-family: OpenSans-Bold, sans-serif;
    font-size: 28px;
    margin-bottom: 5px;
    position: relative;
}
.productOldPrice::after{
    content: '';
    height: 2px;
    width: 100%;
    background: #000;
    position: absolute;
    top: 60%;
    left: -3px;
    transform: translateY(-60%);
}
.productOldPrice span:first-child{
    font-family: OpenSans-Semibold, sans-serif;
    font-size: 20px;
}
.productOldPrice span:last-child {
    font-family: OpenSans-Semibold, sans-serif;
    font-size: 26px;
    margin-right: 5px;
}

.prodCurrentPrice{
    padding: 20px 45px;
    border: solid 1px #000;
    color: #f06;
    font-size: 32px;
    font-family: OpenSans-Bold, sans-serif;
}

.prodCurrentPrice span:first-child{
    font-size: 25px;
    font-family: OpenSans-Semibold, sans-serif;
}
.prodCurrentPrice span:last-child {
    font-size: 32px;
    font-family: opensans-semibold,sans-serif;
}



.butProductBtn{
    background: #000;
    padding: 20px 10px;
    margin-top: 60px;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    font-family: OpenSans-Bold, sans-serif;
}
.butProductBtn > a {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 26px;
}
.butProductBtn > a > i{
    font-size: 23px;
    margin-left: 5px;
}


.prodAdditionalInfos {
    padding: 15px 0;
    margin: 0 20px 10px;
    border-bottom: 1px solid;
}
.prodColors,
.productSizes{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding-left: 15px;
}
.prodColor{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 5px;
}
.prodSize {
    margin-right: 5px;
    margin-top: 5px;
    font-family: OpenSans-BoldItalic, sans-serif;
    border: solid 1px #dcdcdc;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.prodSize:hover{color: #000}
.prodDescription {
    padding: 20px 30px;
    text-align: justify;
    font-family: OpenSans-Italic, sans-serif;
    font-size: 17px;
    line-height: normal;
    color: #000;
}
.socialMediaSharingButtons{
    display: none;
}













.outfitsContainer .owl-stage{
    display: flex;
}
.outfitsContainer .owl-item > .outfitBlock{
    width: 100%;
}
.outfitsContainer .owl-stage-outer{
    width: 100%;
}
.owl-nav.disabled,
.owl-dots.disabled{
    display: none;
}

.outfitsContainer {
    justify-content: flex-start;
}

@media screen and (min-width: 1201px){
    .outfitBlock{
        width: 24%;
    }
}










@media screen and (max-width: 1400px){
    .prodShopAndBrandBlock{
        width: 250px;
    }
    .prodCurrentPrice{
        padding: 20px 30px;
    }
}

@media screen and (max-width: 1200px){
    .prodShopAndBrandBlock{
        width: 400px;
    }
    .prodInformations{
        flex-direction: column;
        align-items: flex-start;
    }
    .prodPriceInfoBlock{
        align-self: flex-end;
        margin-top: 20px;
    }
}

@media screen and (max-width: 992px) {
    .productContainer{
        flex-direction: column-reverse;
    }

    .pesentationBlock{
        width: unset;
        margin: 0;
    }

    .prodImgBlock,
    .productHeartBlock,
    .socialMediaButtonsDesktop,
    .detailedInfoBlock > .onsale-badge,
    .prodSubBlockTitle,
    .prodDescription{
        display: none;
    }

    .additionalProductImageBlock,
    .socialMediaSharingButtons{
        display: flex;
        justify-content: center;
    }








    .socialMediaSharingButtons{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }
    .socialMediaSharingButtons > a {
        width: 50px;
        height: 50px;
        font-size: 30px;
        border: 1px solid black;
        padding: 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 25px;
    }
    .socialMediaSharingButtons > a:last-child{margin: 0}
    .socialMediaSharingButtons > a.fbIconBlock{border-color: #4267b2; color: #4267b2;}
    .socialMediaSharingButtons > a.messengerIconBlock{border-color: #00b2ff; color: #00b2ff;}
    .socialMediaSharingButtons > a.pinterestIconBlock{border-color: #c12c27; color: #c12c27;}
    .socialMediaSharingButtons > a.whatsAppIconBlock{border-color: #53ae40; color: #53ae40;}









    .detailedInfoBlock{
        border: 1px solid #d8d8d8;
        width: 100%;
    }
    .additionalProductImageBlock{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .additionalProductImageBlock > .heart-absolute{
        right: 15px;
        top: 15px;
    }
    .additionalProductImageBlock .heartIcon{
        width: 45px;
    }

    .prodDetailedInfoBlock{
        display: flex;
        flex-direction: column-reverse;
    }

    .butProductBtn,
    .emailSubscribingContainer{
        margin-top: 0;
    }


    .prodInformations{
        flex-direction: row;
        align-items: center;
    }
    .prodPriceInfoBlock{
        flex-direction: column-reverse;
        flex: unset;
    }
    .productShopName{
        margin-bottom: 0;
    }
    .prodColors, .productSizes{
        padding: 0;
    }
    .prodShopAndBrandBlock{
        width: 60%;
    }
    .prodAdditionalInfos{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .prodColorsBlock .prodSubBlockTitle,
    .prodSizeBlock .prodSubBlockTitle{
        display: block;
    }

}


@media screen and (max-width: 768px){
    .breadCrubmsList{
        flex-wrap: wrap;
    }
    .breadCrubmsList>li:last-child{
        margin-top: 5px;
    }
    .prodAdditionalInfos{
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 0;
        margin-bottom: 5px;
    }
    .productBrandName{
        font-size: 18px;
    }
    .prodCurrentPrice{
        padding: 10px 5px;
    }
    .prodSize{
        margin-right: 15px;
    }
    .socialMediaSharingButtons{
        padding: 5px 0;
    }
    .prodColors, .productSizes{
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 576px){
    .prodDetailedInfoBlock{
        padding: 0;
    }
    .prodInformations{
        padding: 0 5px;
    }
    .productShopName{
        font-size: 20px;
    }
    .productBrandName {
        font-size: 16px;
    }

    .productOldPrice,
    .productOldPrice span:first-child,
    .productOldPrice span:last-child,
    .prodCurrentPrice span:first-child,
    .prodCurrentPrice span:last-child{
        font-size: 16px;
    }

    .prodCurrentPrice{
        font-size: 20px;
    }
    .prodAdditionalInfos{
        margin: 0 5px;
        padding-bottom: 10px;
    }
    .prodColors, .productSizes{
        margin: 0;
    }
    .socialMediaSharingButtons {
        padding: 10px 0;
    }
    .prodColors{
        justify-content: flex-end;
        padding-right: 5px;
    }
    .butProductBtn{
        font-size: 25px;
    }
}


@media screen and (max-width: 355px){

    .productOldPrice,
    .productOldPrice span:first-child,
    .productOldPrice span:last-child,
    .prodCurrentPrice span:first-child,
    .prodCurrentPrice span:last-child{
        font-size: 13px;
    }

    .prodCurrentPrice{
        font-size: 16px;
    }
}

@media screen and (max-width: 315px){
    .socialMediaSharingButtons > a{
        margin-right: 10px;
    }
}


/*==================================SINGLE PRODUCT OVER ====================================*/



/*=================================== OUTFIT LISTING PART START ===============================*/



.outfitListingContainer{
    flex: 1;
}



















.outfitCategoriesConteiner {
    display: none;
    margin-left: 0;
    margin-bottom: 0
}








.outfitsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}


.outfitBlock{
    border: solid 1px #d8d8d8;
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
    background: #fff;
    transition: .3s;
    cursor: pointer;
    overflow: hidden;
    width: 24%;
    margin-right:5px;
}
.outfitBlock:hover {
    border-color: #000;
}
.outfitTopBlock{
    height: 200px;
    margin-bottom: 10px;
    position: relative;
}

.outfitTopBlock > a {
    display: inline-block;
    width: 100%;
}
.outfitTopBlock:hover img{
    transform: scale(1.1);
}
.outfitTopBlock img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: .2s;
}
.outfitNameAndHeartBlock{
    padding: 10px 5px 15px 0;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.outfitName{
    display: inline-block;
    width: 68%;
    text-transform: capitalize;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
    font-size: 17px;
    font-weight: 600;
}
.outfitBlock a:hover{
    color:#000;
}
.outfitBlock .heart-absolute{
    position: static;
}
.outfitDateAndSeeOutfitBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 5px 0;
}
.outfitDate{
    font-size: 13px;
    color: #656565;
}

.seeOutfit{
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.seeOutfit > span{
    font-size: 17px;
    margin-left: 5px;
}





#filter-mselect .outfitPageFiltersContainer{
    justify-content: flex-end;
}
#filter-mselect .outfitPageFiltersContainer > .filter-msel-box{
    margin-right: 20px;
}

@media screen and (max-width: 1200px){
    .outfitsContainer{
        justify-content: flex-start;
    }
    .outfitTopBlock{
        height: 250px;
    }
    .outfitBlock{
        width: 31.8%;
        margin-right:10px;
    }
    .seeOutfit > span{
        font-size: 22px;
    }
    .outfitName{
        font-size: 21px;
    }
    .seeOutfit{
        font-size: 17px;
    }
}

@media screen and (max-width: 992px) {

    .outfitCategoriesList li>a{
        padding: 15px;
        display: inline-block;
        position: relative;
        font-weight: bold;
        text-transform: uppercase;
        color: black;
        outline: none;
        font-family: 'OpenSans-Bold', sans-serif;
    }
    .outfitCategoriesList li:first-child>a{
        padding-left: 0;
    }
    .outfitCategoriesList li>a:after{
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 30%;
        background: #000000;
    }
    .outfitCategoriesList li:last-child>a:after{
        display: none;
    }
    .outfitCategoriesList li{
        display: inline-block;
    }

    .outfitCategoriesConteiner{
        display: block;
    }

}

@media screen and (max-width: 768px){
    .outfitTopBlock{
        height: 300px;
    }
    .outfitBlock{
        width: 48%;
    }
}

@media screen and (max-width: 576px){

    .onsale-badge .onsale-badge-content {
        top: 42%;
    }

    .onsale-badge .onsale-badge-content .onsale-icon-block {
        margin-top: 0;
    }

    .outfitsContainer{
        justify-content: center;
    }
    .outfitBlock {
        width: 45%;
        padding: 5px;
    }
    .outfitTopBlock{
        height: 145px;
        margin-bottom: 0;
    }
    .outfitNameAndHeartBlock{
        flex-direction: column;
        padding: 0;
        align-items: center;
        margin-bottom: 5px;
    }
    .outfitName{
        width: 100%;
        font-size: 15px;
        text-align: center;
        margin-bottom: 5px;
    }
    .outfitBlock .heart-absolute{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .outfitBlock .heart-absolute label{
        color: #000;
    }
    .outfitDateAndSeeOutfitBlock{
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    .outfitDate{
        font-size: 10px;
    }
    .seeOutfit{
        font-size: 14px;
        margin-top: 4px;
    }
    .seeOutfit > span{
        font-size: 17px;
    }
}

/*=================================== OUTFIT LISTING OVER ===============================================*/


/*=====================================SINGLE OUTFIT PART START =======================================*/










.highDemand-badge {
    position: absolute;
    top: 5px;
    left: 5px;
    background: #f06;
    color: #fff;
    padding: 3px 5px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    font-family: 'OpenSans-Italic',sans-serif;
    z-index: 1;
    text-transform: uppercase;
}











.OutfitSection{
    margin-bottom: 50px;
}
.outfitContainer{
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
}
.pesentationBlock{
    margin-right: 10px;
    width: 53%;
}








.outfitImgBlock{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d8d8d8;
}
.outfitImgBlock > img{
    max-width: 100%;
    height: auto;
}







.outfitHeartBlock{
    background: #f70063;
    text-transform: uppercase;
    color: #fff;
    font-family: OpenSans-Semibold, sans-serif;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.outfitHeartBlock > span {
    margin-right: 15px;
    font-size: 18px;
    vertical-align: middle;
    letter-spacing: 2px;
}
.outfitHeartBlock svg{
    stroke-width: 2px;
}
.outfitHeartBlock:hover .heartIcon path{
    fill: #66e9df;
}











.outfitOwnerSubscribingBlock {
    width: 35px;
    height: 40px;
    cursor: pointer;
}
.presentationBlockDetails{
    background-color: #fff;
}

.anotherOutfitsNavBlock {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}
.outfitNavLink{
    color: #f06;
}


.outfitOwnerImg{
    width: 100px;
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
}

.outfitOwnerSectionText{
    color: #555;
    margin-bottom: 15px;
}
.outfitOwnerSectionText > span,
.outfitOwnerSectionText > a{
    font-family: OpenSans-Bold, sans-serif;
}
.outfitOwnerSectionText > a:hover{
    color: #555;
}

.outfitOwnerImg > img{
    max-width: 100%;
    height: auto;
}






.outfitOwnerSection {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.outfitOwnerInfosBlock {
    display: flex;
    align-items: center;
}
.outfitOwnerInfos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
}
.outfitOwnerSubscribingBlock:hover svg.hide{
    display: block !important;
}
.outfitOwnerSubscribingBlock:hover svg:not(.hide){
    display: none;
}







.OutfitSection .socialMediaButtonsDesktop{
    padding: 5px;
    margin: 0;
}
.OutfitSection .socialMediaButtonsDesktop > a{
    background: #fff;
}









.commentContainer {
    padding: 30px 10px 30px 5px;
    background: #fff;
}
.commentBlockTitle {
    text-transform: uppercase;
    margin-bottom: 17px;
    font-family: OpenSans-Bold, sans-serif;
}
.commentBlock {
    display: flex;
    position: relative;
    padding-left: 90px;
    margin-top: 30px;
}
.commentLoaderLayer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255, .6);
    border: 1px solid gray;
    z-index: 1;
    overflow: hidden;
}
.commentUserAvatar {
    margin-right: 5px;
}
.commentUserImg {
    width: 80px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    overflow: hidden;
    background: rgba(0,0,0,.1);
    border-radius: 5px;
}
.commentUserImg > i{
    font-size: 60px;
}
.commentUserImg > img{
    max-width: 100%;
    height: auto;
}
.commentArea {
    width: 100%;
    position: relative;
}
textarea.userCommentTextArea {
    display: inline-block;
    padding: 10px 70px 5px 15px;
    background: #fff;
    border: 1px solid #d8d8d8;
    resize: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.commentSentBtn {
    position: absolute;
    right: 20px;
    top: 80%;
    font-size: 30px;
    transform: translateY(-80%);
    color: #08e8de;
    cursor: pointer;
}





.comment {
    display: flex;
    margin: 10px 0;
}
.commentOwnerImg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #eee;
    margin-right: 20px;
}
.commentOwnerImg > img{
    max-width: 100%;
    height: auto;
}
.commentDetailsContainer {
    display: flex;
    justify-content: space-between;
    flex: 1;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.commentDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.commentOwnerName {
    font-family: 'OpenSans-Bold', sans-serif;
}
.commentText {
    font-family: 'OpenSans-Italic', sans-serif;
    margin-top: 15px;
}
.commentDate {
    font-size: 12px;
}































.productsOfCurentOutfitContainer {
    flex: 1;
}
.productsIntoOutfitContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.productsIntoOutfitContainer > .productBlock{
    width: 47%;
}
.productDetailedInfo {
    font-size: 12px;
    font-family: opensans-italic,sans-serif;
    padding: 3px 7px;
    border: solid 1px;
    display: inline-block;
    margin-bottom: 5px;
    transition: .3s;
}
a.productDetailedInfo:hover{
    background-color: #000;
    color: #fff;
}
.prodFooterTopBlock{
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productsIntoOutfitContainer .prodFooterTop{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
    width: 100%;
}
.buyBtn{
    display: none;
    font-size: 13px;
    font-family: opensans-italic,sans-serif;
    padding: 5px 30px;
    border: solid 1px;
    margin: 10px 0;
}
.categoryOfCurrentOufitProds,
.shareThisOutfit{
    display: none;
}



@media screen and (max-width: 1200px) {

    .productsIntoOutfitContainer > .productBlock .productTop {
        height: 250px;
    }

}



@media screen and (max-width: 992px){
    .OutfitSection{
        background-color: #fff;
    }
    .breadCrumbsContainer{
        padding: 30px 10px;
        margin-bottom: 0;
    }
    .pesentationBlock{
        border: 1px solid #d8d8d8;
        border-bottom: none;
    }
    .outfitImgBlock{
        border:none;
    }
    .anotherOutfitsNavBlock{
        display: flex;
    }
    .productDetailedInfo{
        display: none;
    }
    .buyBtn{
        display: block;
    }


    .outfitContainer{
        flex-direction: column;
    }
    .pesentationBlock{
        margin: 0;
        width: 100%;
    }
    .productsOfCurentOutfitContainer{
        width: 100%;
    }
    .productsIntoOutfitContainer{
        justify-content: flex-start;
    }
    .productsIntoOutfitContainer > .productBlock {
        width: 31%;
    }
    .presentationBlockDetails{
        display: flex;
        flex-direction: column-reverse;
    }
    .categoryOfCurrentOufitProds,
    .shareThisOutfit{
        display: block;
        margin: 15px 0;
        font-size: 17px;
        text-transform: uppercase;
        text-align: left;
        font-family: opensans-bold,sans-serif;
    }
    .categoryOfCurrentOufitProds i,
    .shareThisOutfit i{
        font-size: 20px;
        margin-left: 10px;
    }
    .shareThisOutfit{
        margin: 30px 0 0;
    }

}


@media screen and (max-width: 576px) {
    .productsIntoOutfitContainer > .productBlock {
        width: 46%;
        padding-bottom: 0;
    }
    .productsIntoOutfitContainer {
        justify-content: space-between;
    }
    .outfitNavLink{
        font-size: 12px;
    }
    .categoryOfCurrentOufitProds, .shareThisOutfit{
        font-size: 12px;
    }

    .onsale-badge {
        width: 47px;
        height: 55px;
        font-size: 0;
    }
    .onsale-badge .onsale-badge-content .onsale-number {
        font-size: 22px;
    }


    .productsIntoOutfitContainer .heart-absolute label{
        display: none;
    }
    .productsIntoOutfitContainer .prodSizesAndShopBlock{
        display: none;
    }
    .productsIntoOutfitContainer .prodFooterTopBlock{
        border: none;
        padding: 0;
        margin: 0;
    }
    .productsIntoOutfitContainer .prodBrand{
        font-size: 11px;
        letter-spacing: .5px;
    }
    .productsIntoOutfitContainer > .productBlock .productTop {
        height: 200px;
        margin: 0;
    }
    .productsIntoOutfitContainer .prodOldPrice{
        margin-top: 2px;
    }
    .buyBtn{
        padding: 5px 15px;
        margin: 5px 0;
    }
    .outfitOwnerSection{
        padding: 10px 5px;
    }
    .outfitOwnerSectionText {
        margin-bottom: 5px;
        font-size: 12px;
    }
    .outfitOwnerInfos{
        margin-right: 10px;
    }
    .outfitOwnerImg {
        width: 50px;
    }
    .outfitOwnerSubscribingBlock {
        width: 25px;
    }
    .commentBlockTitle{
        font-size: 13px;
    }
    .commentOwnerImg{
        width: 40px;
        height: 40px;
        margin-right: 5px;
    }
    .commentDetailsContainer{
        padding: 10px;
        margin-bottom: 10px;
    }
    .commentDate {
        font-size: 10px;
    }
    .commentOwnerName{
        font-size: 12px;
    }
    .commentText{
        font-size: 10px;
    }
    .commentBlock{
        padding:0;
        margin-top: 20px;
    }
    .commentUserAvatar {
        margin-right: 5px;
    }
    .commentUserImg {
        width: 40px;
        padding: 0;
        height: 100%;
        background: #fff;
    }
    textarea.userCommentTextArea {
        padding: 4px 50px 0 5px;
        font-size: 12px;
    }
    .commentSentBtn{
        font-size: 20px;
    }
    .commentUserImg > i {
        font-size: 30px;
    }
    .commentContainer {
        padding: 30px 0 30px 0;
    }
}

@media screen and (max-width: 340px){
    .productsIntoOutfitContainer .prodOldPriceAndRealPriceBlock{
        flex-direction: row;
    }
    .productsIntoOutfitContainer .prodOldPrice{
        font-size: 8px;
    }
    .productsIntoOutfitContainer .prodRealPrice{
        font-size: 11px;
    }
    .prodRealPrice > span{
        font-size: 10px;
    }
    .outfitOwnerSectionText{
        font-size: 10px;
    }
    .outfitOwnerImg {
        width: 45px;
        border-radius: 50%;
    }
    .categoryOfCurrentOufitProds, .shareThisOutfit {
        font-size: 11px;
    }
}


/*=====================================SINGLE OUTFIT PART START =======================================*/

