#errorPage{
    background: #f5f5f5;
    padding: 200px 0;
    text-align: center;
}
#errorPage h1{
    font-size: 38px;
    letter-spacing: 2px;
}
#errorPage p {
    font-size: 22px;
}
#errorPage p a {
    letter-spacing: 2px;
    margin-left: 22px;
    text-transform: uppercase;
    color: #f70063;
    font-weight: bold;
}
