@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../fonts/fontOpenSans/OpenSans-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display:swap
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/fontOpenSans/OpenSans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display:swap
}
@font-face {
    font-family: 'OpenSans-Extrabold';
    src: url('../fonts/fontOpenSans/OpenSans-Extrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display:swap
}
@font-face {
    font-family: 'OpenSansLight-Italic';
    src: url('../fonts/fontOpenSans/OpenSansLight-Italic.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display:swap
}
@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/fontOpenSans/OpenSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display:swap
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/fontOpenSans/OpenSans-Light.woff2') format('woff2');
    font-style: normal;
    font-display:swap
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/fontOpenSans/OpenSans-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display:swap
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/fontOpenSans/OpenSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display:swap
}
/*=======================MESSENGER ICON ================================*/
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/fontIcoMoon/icomoon.eot?pepjvi');
    src:  url('../fonts/fontIcoMoon/icomoon.eot?pepjvi#iefix') format('embedded-opentype'),
    url('../fonts/fontIcoMoon/icomoon.ttf?pepjvi') format('truetype'),
    url('../fonts/fontIcoMoon/icomoon.woff?pepjvi') format('woff'),
    url('../fonts/fontIcoMoon/icomoon.svg?pepjvi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon', sans-serif !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-messenger:before {
    content: "\e900";
    color: #00b2ff;
}
/*=======================MESSENGER ICON ================================*/





body{
    background-color: #f5f5f5;
    font-family: OpenSans,sans-serif;
}
input,
button,
a{
    border: none;
    outline: none !important;
    color: #000000;
    text-decoration: none !important;
}
.container{
    max-width: 1440px;
}
.hide{
    display: none !important;
}
.disabledScroll{
    overflow-y: hidden;
}

@media screen and (min-width: 1440px){
    .container {
        padding: 0 10px;
        width: 94%;
    }
}
