.profileHeaderTop {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #eaeaea;

}
.profileHeaderTop > .container {
    position: relative;
    display: flex;
}
.profileCoverImg {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    display: flex;
}
.profileCoverImg > img{
    height: auto;
    width: 100%;
}


.profileImage {
    width: 175px;
    position: absolute;
    height: 175px;
    border: 5px solid #FF0066;
    border-radius: 50%;

}
.profileImage > img{
    max-width: 100%;
    border-radius: 50%;
    height: 100%;
}
.profileImage {
    width: 175px;
    position: absolute;
    height: 175px;
    border: 5px solid #FF0066;
    border-radius: 50%;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    cursor: pointer;
}

.profiltImgIcon {
    background: #f06;
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 0;
    bottom: 5px;
    cursor: pointer;
}
.headerButtons {
    background: #d1d1d1;
    color: #000;
    border-radius: 5px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    cursor: pointer;
}
.headerButtons svg{
    margin-right: 10px;
}
.headerButtons>svg>path{
    fill: #000;
}

.headerButtons:hover{
    color: #fff;
    background: #000;
}
.headerButtons:hover > svg>path{
    fill: #fff;
}

.shareProfile{
    right: 180px;
    top: 15px;
}
.copyProfileLink{
    right: 35px;
    top: 15px;
}
.editProfile{
    right: 130px;
    bottom: 15px;
}
.editBgImage{
    right: 35px;
    bottom: 15px;
}
.profileHeaderBottom{
    background: #fff;
    border-bottom: 2px solid #f06;
}
.profileHeaderBottom > div {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.profileNameBlock {
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 32px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.profileNameBlock:hover{
    text-decoration: underline;
}
.profileNameBlock  svg{
    display: none;
}
.aboutProfileDescr {
    margin-bottom: 15px;
}
.profileActiveInfo svg{
    width: 25px;
    margin-right: 5px;
}

.profileActiveInfo,
.profileViews,
.profileSubscribers{
    display: flex;
    align-items: center;
}
.profileViews{
    margin-right: 15px;
}
.hiddenInputForLink{
    opacity: 0;
    position: absolute;
    left: -999px;
    top: -999px;
}


.profileMainNav {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 5px 10px;
}

.profileNavItem {
    margin-top: 15px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid;
    border-radius: 20px;
    background: #fff;
    justify-content: space-between;
    font-family: 'OpenSans-Semibold', sans-serif;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.profileNavItem > svg{
    width: 25px;
}
.profileNavItem > p {
    text-align: left;
    flex: 1;
    margin-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.navItemsCount {
    font-family: 'OpenSans', sans-serif;
    font-size: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 25px;
}
.profileNavItem:hover{
    background: #000;
    color: #fff;
}
.profileNavItem:hover > svg > path{
    fill: #fff;
    stroke: #fff;
}
.profileNavItem:hover > .heartSvgCheckbox > path:last-child{
    stroke: #000;
}
.profileNavItem:hover > .profileSvgCheckbox > path{
    fill: #000;
    stroke: #fff;
}
.profileNavItem.activeItem{
    background: #000;
    color: #fff;
}
.profileNavItem.activeItem > svg > path{
    fill: #fff;
    stroke: #fff;
}
.profileNavItem.activeItem > .heartSvgCheckbox > path:last-child{
    stroke: #000;
}
.profileNavItem.activeItem  > .profileSvgCheckbox > path{
    fill: #000;
    stroke: #fff;
}







.profileMainTabContainer,
.profileEditTab{
    display: flex;
    align-items: flex-start;
}

.profileMainTab {
    flex: 1;
    padding-left: 15px;
    padding-top: 20px;
}











.createdOutfits {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.outfitBlock{
    border: solid 1px #d8d8d8;
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
    background: #fff;
    transition: .3s;
    cursor: pointer;
    width: 24%;
    margin-right:5px;
}
.outfitBlock:hover {
    border-color: #000;
}
.outfitTopBlock{
    height: 200px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.outfitTopBlock > a {
    display: inline-block;
    width: 100%;
}
.outfitTopBlock:hover img{
    transform: scale(1.1);
}
.outfitTopBlock img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: .2s;
}
.outfitNameAndHeartBlock{
    padding: 10px 5px 15px 0;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.outfitName{
    display: inline-block;
    width: 68%;
    text-transform: capitalize;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
    font-size: 17px;
    font-weight: 600;
}
.outfitBlock a:hover{
    color:#000;
}
.outfitBlock .heart-absolute{
    position: static;
}
.outfitDateAndSeeOutfitBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 5px 0;
}
.outfitDate{
    font-size: 13px;
    color: #656565;
}

.seeOutfit{
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.seeOutfit > span{
    font-size: 17px;
    margin-left: 5px;
}
.heart-absolute {
    position: absolute;
    right: 0;
    top: 0;
}
.heart-absolute label {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    color: #9c9c9c;
}
.heartIcon {
    width: 30px;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}
.heartIcon:hover path{
    fill: #f06;
}





.outfitBlock > .socialMediaSharingButtons {
    position: absolute;
    right: -60px;
    top: 0;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
    background: #000;
    width: 60px;
    padding-left: 5px;
    display: none;
}

.outfitBlock > .socialMediaSharingButtons > a {
    background-color: #fff;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    -webkit-transition: opacity .1s;
    -moz-transition: opacity .1s;
    -ms-transition: opacity .1s;
    -o-transition: opacity .1s;
    transition: opacity .1s;
    /*transform: translateX(-50px);*/
    opacity: 0;
}
.outfitBlock > .socialMediaSharingButtons > a.fbIconBlock{border-color: #4267b2; color: #4267b2;}
.outfitBlock > .socialMediaSharingButtons > a.messengerIconBlock{border-color: #00b2ff; color: #00b2ff;}
.outfitBlock > .socialMediaSharingButtons > a.pinterestIconBlock{border-color: #c12c27; color: #c12c27;}
.outfitBlock > .socialMediaSharingButtons > a.whatsAppIconBlock{border-color: #53ae40; color: #53ae40;}
.outfitBlock > .socialMediaSharingButtons > a.instagramIconBlock{border-color: #FD1D1D; color: #FD1D1D;}

.outfitBlock > .socialMediaSharingButtons > a.fbIconBlock:hover{color: #fff; background-color: #4267b2;}
.outfitBlock > .socialMediaSharingButtons > a.messengerIconBlock:hover{border-width: 3px;}
.outfitBlock > .socialMediaSharingButtons > a.pinterestIconBlock:hover{color: #fff; background-color: #c12c27;}
.outfitBlock > .socialMediaSharingButtons > a.whatsAppIconBlock:hover{color: #fff; background-color: #53ae40;}
.outfitBlock > .socialMediaSharingButtons > a.instagramIconBlock:hover{color: #fff; background-color: #FD1D1D;}


.outfitBlock > .socialMediaSharingButtons > a.socialButtonsShow,
.outfitBlock > .socialMediaSharingButtons.socialButtonsShow{
    opacity: 1;
    display: flex;
}


.outfitShareBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    top: 10px;
    right: 10px;
}

.copyOutfitBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    margin-top: 5px;
}
.copyBlockTitle {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-family: OpenSans-ExtraBold, sans-serif;
}

.copyBlockTitle > svg{
    width: 20px;
    margin-right: 5px;
}
.copyBlockTargets {
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 15px;
    font-size: 12px;
    font-family: 'OpenSans-Semibold', sans-serif;
}

.outfitBlock:hover .copyTargetsContainer{
    border-color: #000;
}
.copyTargetsContainer {
    position: absolute;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% + 2px);
    left: -1px;
    top: 100%;
    border: 1px solid #d8d8d8;
    border-top: none;
    transition: .3s;
    padding-bottom: 10px;
    z-index: 1;
}
.copyTargetsContainer > a {
    margin-top: 10px;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
}
.copyTargetsContainer > a:hover{
    color: #fff;
    background: #000;
}


.copyBlockTargets.active,
.shareBlockTargets.active{
    background: #000;
    color: #fff;
}


.seeMoreProducts{
    padding: 30px 0;
    text-align: center;
}

.seeMoreProducts .showMoreBtn{
    font-family: OpenSans-Semibold, sans-serif;
    display: inline-block;
    background: #fff;
    border: 2px solid #000;
    border-radius: 2px;
    padding: 18px 55px;
    text-align: center;
    cursor: pointer;
    color: #000;
    font-size: 18px;
    outline: none;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.showMoreBtn:hover{
    background: #000;
    color: #fff;
}
.shareOutfitBlock{
    display: none;
}
.hideInput{
    position: absolute;
    opacity: 0;
    left: -9999px;
}












.onsale-badge {
    position: absolute;
    left: -5px;
    top: -5px;
    text-align: center;
    font-size: 10px;
    background-image: url(../img/Sale.svg);
    color: #fff;
    background-repeat: no-repeat;
    width: 54px;
    background-size: contain;
    height: 61px;
    z-index: 1;
}
.onsale-badge .onsale-badge-content {
    top: 45%;
    position: absolute;
    width: 100%;
    margin: 0;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
}
.onsale-badge .onsale-badge-content .onsale-number {
    font-size: 26px;
    letter-spacing: -2px;
    margin-right: 2px;
    display: inline-block;
    vertical-align: middle;
}
.onsale-badge .onsale-badge-content .onsale-icon-block {
    width: 14px;
    font-family: OpenSans-Light, sans-serif;
    margin-top: 4px;
    margin-right: 0;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.onsale-badge .onsale-badge-content .onsale-icon {
    font-size: 16px;
    vertical-align: bottom;
    display: inline-block;
}
.onsale-badge .onsale-badge-content .onsale-text {
    display: inline-block;
    font-size: 8px;
    vertical-align: super;
    margin-top: -2px;
}











.likedProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.productBlock{
    position: relative;
    border: solid 1px #d8d8d8;
    transition: .3s;
    padding: 10px;
    background: #fff;
    cursor: pointer;
    width: 23.5%;
    margin-right: 10px;
    margin-bottom: 15px;
}
.productBlock:hover{
    border-color: #000;
}
.productBlock .productTop {
    height: 324px;
    margin-bottom: 10px;
    position: relative;
}
.productBlock .productTop img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.productTop .productInOutfits{
    position: absolute;
    bottom: 10px;
    right: 0;
    background: #efefef;
    color: #333;
    padding: 3px 5px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    font-family: OpenSans-Italic, sans-serif;
    z-index: 3;
    text-transform: uppercase;
}
.heart-absolute {
    position: absolute;
    right: 0;
    top: 0;
}
.heart-absolute label {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    color: #9c9c9c;
}
.heartIcon {
    width: 30px;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}
.heartIcon:hover path{
    fill: #f06;
}
.prodFooterTop,
.prodSizesAndShopBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prodNameAndprodBrandBlock{
    width: 60%;
}
.prodOldPriceAndRealPriceBlock{
    flex: 1;
    text-align: right;
}
.prodFooterTop{
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.prodName{
    font-family: OpenSansLight-Italic,sans-serif;
}
.prodBrand{
    font-family: OpenSans-Bold,sans-serif;
    text-transform: uppercase;
}
.prodBrand,
.prodName{
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
}
.prodOldPrice{
    font-size: 10px;
    text-decoration: line-through;
    font-family: OpenSansLight,sans-serif;
    font-weight: 900;
}
.prodOldPrice > span{
    font-family: OpenSans-ExtraBold, sans-serif;
}
.prodRealPrice{
    font-family: OpenSans-Light, sans-serif;
    font-size: 13px;
    color: #f06;
}
.prodRealPrice > span{
    font-family: OpenSans-ExtraBold, sans-serif;
    font-size: 15px;
}

.prodShopName {
    font-size: 12px;
    text-transform: capitalize;
    font-family: OpenSansLight-Italic, sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 40%;
    text-align: right;
}
.prodSizes {
    flex: 1;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.prodSizes::selection{
    background-color: transparent;
}
.prodSizes::-webkit-scrollbar {
    display: none;
}
.prodSizes > span{
    padding-right: 3px;
    color: #08e8de;
    font-size: 10px;
    font-family: OpenSans-Italic, sans-serif;
}









.mySubscriptions {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 5px;
}
.userBlock {
    width: 24%;
    position: relative;
    background: #F5F5F5;
    border-radius: 4px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.userBlock:hover{
    border-color: #000;
}
.unfollowBtn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}
.userImage {
    border: 5px solid #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.userImage > img{
    max-width: 100%;
    height: auto;
}
.userFullName {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 18px;
    margin: 15px 0;
}
.shareUserProfileBtn {
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
}
.shareUserProfileBtn > svg{
    margin-right: 10px;
}
.shareUserProfileBtn:hover{
    background: transparent;
    color: #000;
}
.shareUserProfileBtn:hover > svg > path{
    fill: #000;
}









.myUploads {
    display: flex;
    flex-wrap: wrap;
}
.uploadedItem {
    width: 24%;
    background: #fff;
    border: 1px solid transparent;
    position: relative;
    padding: 10px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
}
.uploadedItem:hover{
    border-color: #000;
}
.delUploadedFile {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.uploadedItem img{
    max-width: 100%;
    height: 100%;
}

















.profileEditForm > form {
    display: flex;
    flex-direction: column;
    padding: 20px 100px 10px;
    background: #fff;
}

.profileEditForm > form input {
    border-bottom: 1px solid #B2B2B2;
    margin-bottom: 10px;
}
.profileEditForm > form input:focus,
.profileEditForm > form textarea:focus{
    border-color: #000;
}
.dateOfBirthBlock,
.genderBlock,
.aboutProfileDescriptionBlock{
    margin-top: 10px;
}
.dob-Title,
.genderBlockTitle,
.profileDescrTitle{
    font-family: 'OpenSans-Bold', sans-serif;
    margin-bottom: 5px;
}
.descriptionBlock > textarea {
    width: 100%;
    resize: none;
    min-height: 100px;
    border-color: #B2B2B2;
}



.socialMediaLinksContainer {
    margin-top: 20px;
}
.socialMediaItem {
    position: relative;
}
.socialMediaItem i {
    position: absolute;
    font-size: 25px;
    left: 0;
}
.socialMediaItem input {
    width: 100%;
    padding-left: 45px;
    padding-bottom: 13px;
}

.termsAndConditions {
    display: flex;
    justify-content: flex-end;
}
.termsAndConditions label {
    margin: 0 5px;
}
.termsAndConditions label input{
    margin-right: 2px;
}




.formSubmitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 20px;
}
.formSubmitBtn button {
    background: #000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}
.deactivateBtn {
    background: #E9B4A9;
    color: #FF0000;
    padding: 10px 0;
    transition: .3s;
}
.deactivateBtn:hover{
    background: #FF0000;
    color: #fff;
}



.gnederInputs {
    display: flex;
    align-items: center;
}
.gnederInputs label {
    margin-right: 10px;
}
.gnederInputs label > input {
    margin-right: 3px;
}





@media screen and (max-width: 1440px){
    .createdOutfits .outfitBlock{
        width: 30%;
    }
    .profileNavItem{
        font-size: 11px;
    }
}


@media screen and (max-width: 1200px){
    .uploadedItem {
        width: 23%;
    }
}

@media screen and (max-width: 992px){
    .profileMainTab{
        width: 100%;
    }


    .copyProfileLink,
    .shareProfile,
    .editProfile,
    .editBgImage > span{
        display: none;
    }
    .profileNameBlock  svg{
        display: inline-block;
    }
    .profileShare{
        display: flex;
        margin-left: 15px;
    }
    .headerButtons svg{
        margin: 0;
    }
    .profileMainTabContainer,
    .profileEditTab{
        flex-direction: column;
    }
    .profileMainNav{
        flex-direction: row;
        width: 100%;
        overflow-x: scroll;
        padding-top: 15px;
    }
    .profileMainNav::-webkit-scrollbar {
        display: none;
    }
    .profileMainNav {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .profileNavItem{
        font-size: unset;
        margin-right: 15px;
    }
    .profileNavItem > p{
        margin-right: 10px;
    }
    .createdOutfits .outfitBlock .heart-absolute {
        display: flex;
        align-items: center;
    }
    .profileHeaderBottom{
        border: none;
    }
    .profileBody {
        background-color: #fff;
    }
    .likedProducts > .productBlock{
        width: 31.5%;
    }

    .userBlock{
        width: 30%;
    }
    .shareUserProfileBtn{
        padding: 5px;
    }
    .shareUserProfileBtn > svg {
        margin-right: 2px;
    }
    .uploadedItem{
        border-color: #000;
    }
}


@media screen and (max-width: 768px) {
    .profileNameBlock{
        font-size: 24px;
    }
    .profileHeaderBottom > div{
        padding-bottom: 0;
    }
    .profileNavItem{
        font-size: 11px;
    }
    .navItemsCount{
        font-size: 9px;
    }
    .createdOutfits .outfitBlock{
        width: 45%;
    }
    .userBlock {
        width: 48%;
    }

    .uploadedItem {
        width: 31%;
    }
}


@media screen and (max-width: 576px) {
    .editBgImage{
        right: 20px;
    }
    .outfitShareBtn{
        display: none;
    }
    .profileNameBlock {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .aboutProfileDescr{
        margin: 0;
    }
    .profileName {
        display: flex;
        align-items: center;
    }
    .profileName > svg{
        width: 15px;
        margin-left: 5px;
    }
    .profileMainNav{
        padding-top: 0;
    }
    .profileNavItem{
        margin-top: 10px;
        padding: 5px 10px;
    }
    .profileNavItem > svg{
        width: 16px;
    }
    .outfitBlock > .socialMediaSharingButtons{
        right: -40px;
        width: 40px;
        height: unset;
        padding: 10px 0 10px 5px;
    }
    .outfitBlock > .socialMediaSharingButtons > a{
        width: 40px;
        height: 40px;
        font-size: 20px;
        margin-bottom: 10px;
        margin-right: 6px;
    }
    .copyBlockTargets > span{
        display: none;
    }
    .copyBlockTargets{
        font-size: 16px;
    }
    .outfitTopBlock{
        height: 125px;
        margin-bottom: 0;
    }
    .copyTargetsContainer > a{
        font-size: 12px;
    }
    .createdOutfits .outfitBlock .heart-absolute{
        display: none;
    }
    .outfitName{
        width: 100%;
        font-size: 12px;
    }
    .outfitNameAndHeartBlock{
        padding: 5px 0;
        margin: 0;
    }
    .copyOutfitBlock{
        margin: 0;
    }
    .shareOutfitBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5px;
        border-top: 1px solid;
        margin-top: 10px;
    }
    .outfitBlock > .socialMediaSharingButtons{
        left: 0;
        top: 100%;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .shareBlockTargets{
        padding: 5px 10px;
        border: 1px solid #000;
        border-radius: 15px;
        font-size: 16px;
        font-family: 'OpenSans-Semibold', sans-serif;
    }
    .profileCoverImg{
        max-height: 200px;
    }
    .profileMainTabItem .seeMoreProducts{
        padding: 15px 0;
    }
    .profileMainTabItem .seeMoreProducts .showMoreBtn{
        padding: 10px 15px;
        font-size: 15px;
    }




    .onsale-badge {
        width: 47px;
        height: 55px;
        font-size: 0;
    }
    .onsale-badge .onsale-badge-content {
        top: 42%;
    }
    .onsale-badge .onsale-badge-content .onsale-number {
        font-size: 22px;
    }
    .onsale-badge .onsale-badge-content .onsale-icon-block {
        margin-top: 0;
    }
    .likedProducts > .productBlock{
        width: 45.5%;
    }
    .prodFooterTop{
        flex-direction: column;
        align-items: center;
    }
    .prodNameAndprodBrandBlock{
        width: 100%;
        text-align: center;
    }
    .prodName{
        display: none;
    }
    .prodOldPriceAndRealPriceBlock{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    .prodSizes{
        margin-right: 10px;
    }
    .productBlock .productTop{
        height: 200px;
    }


    .userBlock {
        width: 46%;
        padding: 15px 5px;
    }
    .userImage {
        width: 100px;
        height: 100px;
    }
    .shareUserProfileBtn {
        font-size: 10px;
    }
    .shareUserProfileBtn > svg{
        width: 17px;
        margin-right: 5px;
    }
    .userFullName {
        font-size: 14px;
        margin: 10px 0;
    }


    .uploadedItem {
        width: 46%;
        height: 200px;
    }
    .profileEditForm > form {
        padding: 20px 15px 10px;
    }
    .termsAndConditions {
        flex-wrap: wrap;
    }
    .termsAndConditions > span{
        width: 100%;
    }
    .termsAndConditions label {
        margin: 10px 5px 0;
    }

    .profileEditForm form.deactivationForm{
        padding: 0;
        width: 120%;
        margin-left: -30px;
    }
    .profileBody{
        overflow-x: hidden;
    }
    .profileHeaderTop > .container{
        min-height: 200px;
        padding: 0;
    }
}

@media screen and (max-width: 360px){
    .prodOldPriceAndRealPriceBlock{
        flex-direction: column;
    }
}

@media screen and (max-width: 335px){
    .copyBlockTitle{
        font-size: 10px;
    }
    .copyBlockTitle > svg{
        width: 10px;
    }
}

@media screen and (max-width: 305px){
    .mySubscriptions{
        justify-content: center;
    }
    .userBlock {
        width: 85%;
        margin-right: 0;
    }
    .formSubmitBtn button{
        font-size: 12px;
    }
}
