footer{
    background-color: #000;
    position: relative;
    margin-top: 10px;
    padding-top: 10px;
    color: #fff;
}
.toTopAnchor {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f70063;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.toTopAnchor:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    transform: rotate(-45deg);
    border-bottom: none;
    border-left: none;
    margin-top: 5px;
}
.newsLetterBlock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 20%;
}
.footerLogo{
    margin-bottom: 30px;
}
.footerMainBlock {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footerMainBlock > div{
    margin-right: 10%;
}
.footerMainBlock > div:last-child{
    margin: 0;
}
.corporationBlock{
    background-color: #f70063;
    font-size: 13px;
    padding: 10px 0;
    color:#fff;
    text-align: center;
}
.footerTitle{
    margin-bottom: 20px;
    color: #e8e8e7;
    font-family: OpenSans-Semibold,sans-serif;
    font-size: 18px;
}
.footerText{
    color: #969696;
    line-height: normal;
    font-size: 16px;
}

.newsLetterBlock input{
    border: 0;
    min-height: 34px;
    padding: 0 12px;
    margin-bottom: 5px;
    margin-top: 30px;
    width: 100%;
}
.newsLetterBlock button {
    border: 1px solid #fff;
    background: #000;
    min-height: 34px;
    padding: 0 12px;
    color: #fff;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 16px;
    font-family: OpenSans-Bold, sans-serif;
    cursor: pointer;
    align-items: center;
    width: 100%;
}
.categoriesListing{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
footer a.footerText{
    font-size: 14px;
    transition: .3s;
}
footer a:hover{
    color:#fff
}
.footerTextWithImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.categoriesListingWithImg {
    display: flex;
    flex-direction: revert;
    align-items: center;
}
.footerTextSmall{
    font-size: 13px;
    margin-bottom: 10px;
}

@media screen and (max-width: 992px){
    .newsLetterBlock{
        width: 30%;
    }
}

@media screen and (max-width: 768px){
    .footerMainBlock{
        justify-content: space-around;
    }
}

@media screen and (max-width: 576px){
    .footerMainBlock > div {
        margin-right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 60px;
    }
    .footerTextSmall {
        width: 50%;
        text-align: left;
    }
}
