
.MainSlider img{
    max-width: 100%;
    height: auto;
}
.MainSlider .slick-next, .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 35px;
    height: 80px;
    padding: 0;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
    z-index: 1;
}
.MainSlider .slick-next.slick-arrow {
    right: 15px;
}
.MainSlider .slick-prev.slick-arrow{
    left: 15px;
}

.MainSlider .slick-prev.slick-arrow:before,
.MainSlider .slick-next.slick-arrow:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top: 0;
}
.MainSlider .slick-next.slick-arrow:before {
    background-image: url(sliderImgs/right.svg);
}
.MainSlider .slick-prev.slick-arrow:before{
    background-image: url(sliderImgs/left.svg);
}


.MainSlider .slick-dots {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
.MainSlider .slick-dots li {
    position: relative;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.MainSlider .slick-dots li>button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: transparent;
    font-size: 1px;
}
.MainSlider .slick-dots li.slick-active>button{
    background: #f06;
}
.MainSlider a{
    display: inline-block;
    width: 100%;
}

.MainSlider video {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.MainSlider img{
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.MainSlider video, .MainSlider img{
    height: 55vh;
    -o-object-position: center;
    object-position: center;
}
@media screen and (min-width: 1921px){
    .MainSlider .slick-dots {
        bottom: 30px;
    }
    .MainSlider .slick-dots li{
        margin-right: 25px;
    }
    .MainSlider .slick-dots li>button {
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 576px){
    .MainSlider video, .MainSlider img{
        height: 35vh;
        -o-object-position: 0 0;
        object-position: 0 0;
    }
}

