#pagination{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 20px 20px 0;
}
.paginationBlock{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border: solid 1px #d8d8d8;
    background: #fff;
    font-family: 'OpenSans-Italic', sans-serif;
    -webkit-box-shadow: 0 0 7px -3px #484848;
    box-shadow: 0 0 7px -3px #484848;
}
.paginationItem {
    color: #b4b4b4;
    font-size: 22px;
    padding: 5px 6px;
    cursor: pointer;
}
.paginationItem:hover{
    color: #000;
}
.paginationItem.active{
    font-family: 'OpenSans-BoldItalic', sans-serif;
    pointer-events: none;
    color: #000;
}
.paginationItem.disabled{
    color: #b4b4b4;
    pointer-events: none;
}


@media screen and (max-width: 576px){
    #pagination{
        justify-content: center;
        margin-right: 0;
    }
    .paginationItem{
        font-size: 16px;
        padding: 5px 5px;
    }
}
@media screen and (max-width: 350px) {
    .paginationItem{
        padding: 5px 3px;
    }
}
