.staticTextContainer{
    padding: 20px 0;
}

.staticTextImgBlcok{
    margin: 20px 0 50px 0;
}

.staticTextContent h3{
    text-transform: uppercase;
    font-size: 23px;
    font-family: opensans-bold,sans-serif;
    margin: 20px 0;
}
.staticTextContent p{
    line-height: 1.3;
    margin-bottom: 50px;
}
.staticTextContent a{
    text-decoration: underline;
    font-family: opensans-bolditalic,sans-serif;
    color: #f70063;
}


@media screen and (max-width: 576px){
    .staticTextContent h3{
        font-size: 20px;
    }
}
