.breadCrumbsContainer{
    background-color: #fff;
    padding: 20px 10px;
    margin-bottom: 10px;
    text-align: left;
}
.breadCrubmsList {
    display: flex;
    align-items: center;
}
.breadCrubmsList a,
.breadCrubmsList a:hover{
    color: #000;
}
.breadCrubmsList>li{
    margin-right: 5px;
}
.breadCrubmsList>li:last-child {
    font-family: 'OpenSans-Bold', sans-serif;
}











.portalSpecificTabs{
    padding: 20px 0;
}
.portalSpecificTabBlock{
    display: flex;
    align-items: flex-start;
}
.portalTabNavs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.tabMenuBtn{
    text-decoration: none;
    color: #000;
    width: 100%;
    padding: 16px 20px;
    border: 1px solid #000;
    border-radius: 25px;
    margin-bottom: 8px;
    background: transparent;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.tabMenuBtn:hover,
.tabMenuBtn.active{
    color: #fff;
    background: #000;
}
.tabMenuBtn:hover svg,
.tabMenuBtn.active svg{
    fill: #fff !important;
}
.tabMenuBtn div{
    width: 100%;
}
.tabMenuBtn p{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    line-height: 24px;
}
.tabMenuBtn span{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    font-size: 14px;
    font-family: 'OpenSans',sans-serif;
}
.tabMenuBtn svg{
    margin-right: 10px;
}
.tabContentContainer{
    flex: 1;
    background: #fff;
    border: 1px solid #d8d8d8;
    padding: 10px;
    margin-left: 20px;
}
.tabContentContainer:hover{
    border-color: #999;
}

.tabContentContainer .blockTitle{
    font-size: 30px;
    margin-bottom: 20px;
}
.tabContentContainer .contentTitle{
    font-size: 20px;
    margin: 60px 0 20px;
    font-family: 'OpenSans-Bold', sans-serif;
}
.tabContentContainer .blockText,
.tabContentContainer address{
    font-family: OpenSans-Light, sans-serif;
    margin-bottom: 30px;
}
.tabContentContainer .blockText.underlined{
    text-decoration: underline;
}
.tabContentContainer address{
    display: flex;
    flex-direction: column;
}
.tabContentContainer a{
    color: #f06;
}
.tabContentContainer form{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}
.tabContentContainer form input:not([type='checkbox']),
.tabContentContainer form textarea{
    background: #fff;
    padding: 10px;
    width: 100%;
    border: solid 1px #000;
    border-radius: 0;
    margin-bottom: 5px;
    resize: none;
}
.tabContentContainer form button{
    background-color: #000;
    color: #fff;
    width: auto;
    padding: 12px 55px;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    font-family: OpenSans-Bold, sans-serif;
    border-radius: 0;
    margin-top: 10px;
}
.tabContentContainer ul{
    list-style: disc;
    margin: 20px 0 40px 30px;
}
.tabContentContainer ol{
    list-style: decimal;
    margin: 20px 0 40px 50px;
}

@media screen and (max-width:992px){
    .portalTabNavs{
        display: none;
    }
    .tabContentContainer{
        margin: 0;
    }
}
@media screen and (max-width:576px){
    .tabContentContainer{
        width: 100%;
    }
    .tabContentContainer .blockText, .tabContentContainer address{
        word-break: break-word;
    }
    .tabContentContainer .blockTitle{
        font-size: 24px;
        word-break: break-all;
    }
    .tabContentContainer .contentTitle{
        font-size: 16px;
    }
    .tabContentContainer form{
        width: 100%;
    }
}
