.breadCrumbsContainer{
    background-color: #fff;
    padding: 20px 10px;
    margin-bottom: 10px;
    text-align: left;
}
.breadCrubmsList {
    display: flex;
    align-items: center;
}
.breadCrubmsList a,
.breadCrubmsList a:hover{
    color: #000;
}
.breadCrubmsList>li{
    margin-right: 5px;
}
.breadCrubmsList>li:last-child {
    font-family: 'OpenSans-Bold', sans-serif;
}















.navigationSimbolsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background: #000;
}
.navSimbolBlock {
    text-transform: uppercase;
    font-size: 22px;
    cursor: pointer;
    padding: 20px 8px;
    color: #fff;
    transition: .3s;
    border-bottom: 3px solid #000;
}
.navSimbolBlock:hover{
    background-color: #fff;
    color: #000;
}
.navSimbolBlock.active{
    background-color: #fff;
    color: #000;
}

.navSimbolBlock:last-child{
    font-size: 55px;
    padding: 0;
    border-bottom: none;
}



.brandBlock {
    display: flex;
    margin: 20px 0;
    padding: 5px 50px 5px 0;
}
.brandStartingSymbol {
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'OpenSans-Bold' , sans-serif;
    width: 15%;
    text-align: center;
}
.brandsListContainer {
    position: relative;
    background-color: #e6e6e6;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-left: 5px solid #000;
    flex: 1;
}
.brandBlock:first-child > .brandsListContainer{
    background-color: #fff;
}
.brandsListLoadingOverlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .8);
}
.brandsList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.brandsList > a {
    font-family: 'OpenSans-Light', sans-serif;
    font-size: 18px;
    width: 30%;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 15px;
    overflow: hidden;
    padding: 5px 0;
}
.brandsList > a:hover{
    color: #000;
    text-decoration: underline !important;
}
.seeMoreBrands{
    text-decoration: underline;
    font-size: 20px;
    font-family: 'OpenSans-Light', sans-serif;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 20px;
    transition: .3s;
}
.seeMoreBrands:hover{
    background: #000;
    color: #fff;
}
.seeMoreBrands span{
    text-transform: uppercase;
    font-family: OpenSans-Bold, sans-serif;
}

.brandListingResult{
    overflow-y: scroll;
    height: 80vh;
    padding: 10px 0 15px;
    margin-bottom: 15px;
    position: relative;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.brandListingResult::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.brandListingResult {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


@media screen and (max-width: 1200px){
    .navSimbolBlock{
        font-size: 21px;
    }
}
@media screen and (max-width: 992px){
    .navSimbolBlock {
        padding: 10px 6px;
        font-size: 16px;
    }
    .navSimbolBlock:last-child {
        font-size: 35px;
    }
    .navigationSimbolsContainer{
        margin-bottom: 20px;
    }
    .brandListingResult{
        padding-top: 0;
    }
    .brandBlock{
        padding: 0 25px 0 0;
    }
    .brandsList > a{
        width: 50%;
        margin-right: 0;
    }
}

@media screen and (max-width: 768px){
    .navigationSimbolsContainer{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 13%;
        overflow-y: scroll;
        height: 100vh;
        min-width: 65px;
        overflow-x: hidden;
        position: -webkit-sticky;
        position: sticky;
        left: 10px;
        top: 0;
    }
    .brandListingBlock{
        display: flex;
        justify-content: flex-end;
    }

    .brandListingResult{
        margin: 0;
        padding: 0;
        height: unset;
        width: 90%;
    }
    .navSimbolBlock {
        padding: 10px 20px;
        font-size: 16px;
    }
    .brandBlock{
        position: relative;
        justify-content: space-between;
        padding: 0 0 0 30px;
    }
    .brandsListContainer{
        width: 100%;
        padding: 10px;
        flex: none;
    }
    .brandStartingSymbol{
        margin: 10px;
        position: absolute;
        top: 0;
        right: 0;
        background: #000;
        color: #fff;
        display: inline-block;
        z-index: 1;
        width: 15%;
    }
    .brandsList > a {
        width: 100%;
    }
    .brandBlock:first-child{
        margin-top: 0;
    }
    .navigationSimbolsContainer::-webkit-scrollbar {
        display: none;
    }
    .navigationSimbolsContainer {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@media screen and (max-width: 576px){
    .brandBlock{
        padding: 0 0 0 15px;
    }
    .brandStartingSymbol{
        margin: 0 0 10px 10px;
        font-size: 40px;
        -webkit-box-shadow: -3px 3px 3px 0 black;
        box-shadow: -3px 3px 3px 0 black;
    }
    .brandsList > a{
        font-family: 'OpenSans-Bold', sans-serif;
        font-size: 14px;
    }
    .brandsList > a:first-child{
        width: 80%;
    }
    .seeMoreBrands{
        font-size: 18px;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 350px){
    .seeMoreBrands {
        font-size: 14px;
        padding: 20px 5px 0 0;
    }
}
