header {
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    height: auto;
    padding: 15px 0 0;
}

.headerAnimatedBorder {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 2px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 3;
    background-image: -o-linear-gradient(left, #08e8de, #2ebdb7, #7922af, #ff0066, #f70063);
    background-image: -webkit-gradient(linear, left top, right top, from(#08e8de), color-stop(#2ebdb7), color-stop(#7922af), color-stop(#ff0066), to(#f70063));
    background-image: linear-gradient(to right, #08e8de, #2ebdb7, #7922af, #ff0066, #f70063);
}

.startAnimation {
    height: 10px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background-size: 250% 150%;
    background-image: -o-linear-gradient(left, #2ebdb7, #7922af, #ff0066, #f70063, #08e8de);
    background-image: -webkit-gradient(linear, left top, right top, from(#2ebdb7), color-stop(#7922af), color-stop(#ff0066), color-stop(#f70063), to(#08e8de));
    background-image: linear-gradient(90deg, #2ebdb7, #7922af, #ff0066, #f70063, #08e8de);
    -webkit-animation: gradient 3s ease-in-out infinite;
    animation: gradient 3s ease-in-out infinite;

}

@-webkit-keyframes gradient {
    0% {
        background-image: -o-linear-gradient(left, #7922af, #2ebdb7, #ff0066, #08e8de, #f70063);
        background-image: -webkit-gradient(linear, left top, right top, from(#7922af), color-stop(#2ebdb7), color-stop(#ff0066), color-stop(#08e8de), to(#f70063));
        background-image: linear-gradient(90deg, #7922af, #2ebdb7, #ff0066, #08e8de, #f70063);
        background-position: 0 50%;
    }
    50% {
        background-image: -o-linear-gradient(left, #2ebdb7, #08e8de, #7922af, #f70063, #ff0066);
        background-image: -webkit-gradient(linear, left top, right top, from(#2ebdb7), color-stop(#08e8de), color-stop(#7922af), color-stop(#f70063), to(#ff0066));
        background-image: linear-gradient(90deg, #2ebdb7, #08e8de, #7922af, #f70063, #ff0066);
        background-position: 100% 50%;
    }
    100% {
        background-image: -o-linear-gradient(left, #2ebdb7, #7922af, #ff0066, #f70063, #08e8de);
        background-image: -webkit-gradient(linear, left top, right top, from(#2ebdb7), color-stop(#7922af), color-stop(#ff0066), color-stop(#f70063), to(#08e8de));
        background-image: linear-gradient(90deg, #2ebdb7, #7922af, #ff0066, #f70063, #08e8de);
        background-position: 0 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


.headerTopContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerActions {
    display: flex;
    align-items: center;
    position: relative;

}
.headerActions>div {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.headerActions>div:last-child{
    margin: 0;
}
.searchBlock {
    display: flex;
    position: relative;
}
.searchInput{
    width: 450px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
}
.searchBtn{
    position: absolute;
    top: 0;
    right: 0;
}
.headerActionTitle {
    font-size: 8px;
    margin-top: 5px;
}


.mainNav {
    margin-top: 15px;
}
.mainNav a{
    color:rgb(0,0,0);
    transition: .3s;
}
.mainNav a:hover{
    font-weight: 700;
}
.mainNav>ul {
    display: flex;
    align-items: center;
    position: relative;
}

.mainNav>ul>li>a,
#headerNavSlider li>a{
    padding: 15px;
    display: inline-block;
    position: relative;
}
#headerNavSlider li>a{
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    outline: none;
    font-family: 'OpenSans-Bold', sans-serif;
}

.mainNav>ul>li:first-child>a,
#headerNavSlider li:first-child>a{
    padding-left: 0;
}
.mainNav>ul>li>a:after,
#headerNavSlider li>a:after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 30%;
    background: #000000;

}
.mainNav>ul>li.toCreator>a:after,
.mainNav>ul>li:nth-child(5)>a:after,
#headerNavSlider li:nth-child(5)>a:after{
    display: none;
}
.mainNav>ul>li.toCreator>a{
    padding: 15px 20px;
    font-size: 13px;
    color:#fff;
    font-family: OpenSans-Semibold,sans-serif;
}
.mainNav .toSale,
#headerNavSlider .toSale{
    color: #f06;
}

.toCreator{
    background: #f06;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}
.menuItemWithSubmenu:before{
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    position: absolute;
    background: #000;
    z-index: 1;
    bottom: -5px;
    left: 30px;
    display: none;
}

.mainNavSubmenu{
    position: absolute;
    width: 100%;
    z-index: 4;
    background-color: #fff;
    left: 0;
    overflow: hidden;
    top: 100%;
    border: 0;
    display: none;
    font-family: OpenSans,sans-serif;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .2);
}
.mainNav>ul>li:hover .mainNavSubmenu,
.mainNav>ul>li:hover .menuItemWithSubmenu:before{
    display: flex;
}

.categoriesListBlock,
.brendsListBlock{
    width: 50%;
}
.listHeader {
    background: #000;
    display: flex;
}
.listTitle {
    padding: 10px 25px;
    color: #08e8de;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    width: 50%;
}
.listBody{
    display: flex;
}
.catListItems,
.brendListItems{
    padding: 10px 15px 15px;
    display: flex;
    flex-wrap: wrap;
}
.catListItems>li{
    width: 50%;
}
.catListItems>li>a:hover{
    font-family: OpenSans-Bold,sans-serif;
}
.catListItems>li>a{
    padding: 5px 0;
    display: inline-block;
}
.brendListItems {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.brendListItems>li {
    margin-right: 13px;
    margin-bottom: 13px;
    width: 25%;
}
.brendListItems>li>a {
    display: inline-block;
    border: solid 1px #d0d0d0;
    text-align: center;
    overflow: hidden;
    line-height: 88px;
    width: 100%;
    transition: .3s;
}
.brendListItems>li>a:hover{
    border-color: #000000;
}
.hamburgerSvg{
    width: 44px;
}
.hamburgerMenu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    margin-bottom: -10px;
    outline: none !important;
}
.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60, 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60, 60;
    stroke-width: 6;

}
.line3 {
    stroke-dasharray: 60, 207;
    stroke-width: 6;
}
.opened .line1 {
    stroke-dasharray: 90, 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
    stroke: #000;

}
.opened .line2 {
    stroke-dasharray: 1, 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90, 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
    stroke: #000;

}
.mobileNav,
.mobSearchBlock{
    display: none;
    flex-direction: column;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 76px;
    background: #fff;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    padding-top: 25px;
    z-index: 3;
    overflow: auto;
}
.desktopSearchResultContainer,
.mobileSearchResultContainer{
    position: absolute;
    top: 55px;
    left: -100px;
    min-width: 300px;
    width: 400px;
    background: #fff;
    z-index: 4;
    border: 1px solid #000;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mobileSearchResultContainer{
    position: unset;
    width: 90%;
    min-width: unset;
    margin-top: 20px;
    min-height: unset;
    margin-bottom: 50px;
}
.desktopSearchResultContainer:before {
    content: '';
    display: block;
    position: absolute;
    bottom: auto;
    left: 100px;
    top: -10px;
    z-index: -1;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}
.findedBlockTitle {
    background: #000;
    color: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: OpenSans-Semibold, sans-serif;
}
.findedItem {
    display: flex;
    align-items: center;
    padding: 10px 15px 5px;
    max-width: 95%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.itemImg {
    width: 40px;
    border: 1px solid;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin-right: 10px;
}
.itemName {
    font-size: 14px;
}

.productsContainer .itemName{
    text-decoration: underline;
}
.outfitsContainer .findedBlockResults{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.outfitsContainer .findedItem {
    max-width: 48%;
}
.extraItemInfo {
    font-size: 11px;
}

a.toBrendPage {
    background: #000;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #08e8de;
}
.findedItem:hover {
    font-family: 'OpenSans-Extrabold', sans-serif;
    text-decoration: inherit;
    color: #000;
}
.findedItem:hover .extraItemInfo{
    font-family: 'OpenSans', sans-serif;
}
.signInContainer {
    position: absolute;
    right: -5px;
    border: 1px solid #000;
    z-index: 4;
    top: -50px;
    background: #fff;
    width: 400px;
    margin-bottom: 30px;
}
.signInContainer:after {
    content: '';
    display: block;
    position: absolute;
    bottom: auto;
    right: 5px;
    top: -10px;
    z-index: -1;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}
.signInBlockHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    padding: 7px;
    color: #fff;
}
.signInBlock{
    position: relative;
}


.forgotPasswordBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 60px;
}
.forgotPassBlockTitle{
    text-transform: uppercase;
    margin: 20px 0 60px 0;
    text-align: center;
}
.forgotPassBlockTitle > p:first-child{
    font-family: OpenSans-ExtraBold, sans-serif;
    font-size: 49px;
}
.forgotPassBlockTitle > p:last-child{
    font-size: 39px;
    letter-spacing: 7px;
    font-family: OpenSans, sans-serif
}




.signInBlockHeader>p{
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: OpenSans-Bold, sans-serif;
    cursor: pointer;
}
.signInBlockHeader>p::selection{
    background: transparent;
}
.signInBlock {
    padding: 0 60px;
}
.activeTab{
    color: #08e8de;
}
.registerBenifitsBlock,
.socialMediaButtons,
.signInTab{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.benifitsTexts {
    margin-top: 10px;
}
.benifitsTexts>p{
    font-family: OpenSans-Bold, sans-serif;
    margin: 5px;
    font-size: 15px;
    text-align: center;
}

.socialMediaButtons>a{
    font-size: 13px;
    padding: 10px;
    text-decoration: none;
    width: 100%;
    color: #fff;
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
}

.fb-sign-button{
    background: #3b5998;
}

.google-sign-button{
    background: #d34836;
}

.internalSignForm input:not([type='checkbox']),
.forgotPasswordBlock input{
    background: #fff;
    padding: 10px;
    width: 100%;
    border: solid 1px #000;
    border-radius: 0;
    margin-bottom: 5px;
}

.forgotPass{
    padding: 0;
    font-size: 11px;
    font-family: OpenSans-Bold, sans-serif;
    color: #000;
    align-self: flex-end;
    cursor: pointer;
}
.signInTab > button,
.forgotPasswordBlock button{
    background-color: #000;
    color: #fff;
    width: auto;
    padding: 12px 55px;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    font-family: OpenSans-Bold, sans-serif;
    border-radius: 0;
    margin-top: 10px;
}
.forgotPasswordBlock button{
    font-size: 14px;
    padding: 12px 15px;
    color: #08e8de;
    margin: 60px 0 55px;
}
.warningBlock {
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-top: 5px;
}
.warningBlock i{
    font-size: 35px;
}
.signWarningText {
    margin-left: 10px;
}
.signWarningText>span{
    margin-right: 5px;
    font-family: OpenSans-Bold,sans-serif;
}
.signInTab label {
    font-size: 11px;
    font-family: OpenSans-Bold,sans-serif;
    color: #000;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.signInTab label>input{
    margin-right: 5px;
}
.signInBlockContainer{
    position: relative;
}
.loginLoaderBlock{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
}

@media screen and (max-width: 992px){
    .searchInput{
        width: 300px;
    }
    header{
        padding: 15px;
    }
    .headerTopContainer,
    .headerActions{
        align-items: flex-end;
    }
    .mobileLoginActions .headerActionTitle{
        display: block;
        font-size: 16px;
        margin-left: 10px;

    }
    .mobileLoginActions >div {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .mobileMainMenuContainer{
        width: 100%;
        padding: 0 15px 25px;
    }
    .mobileLoginActions {
        padding-bottom: 10px;
        border-bottom: 1px solid;
    }
    .mobMenuTitle{
        font-weight: 700;
        color: #f70063;
        padding-top: 25px;
        padding-bottom: 15px;
        text-transform: uppercase;
        font-family: 'OpenSans-Semibold',sans-serif;
    }
    .mobMenuItems {
        padding-left: 10px;
    }
    .mobMenuItem {
        padding: 10px 0;
        border-bottom: 1px solid #f9f9f9;
        cursor: pointer;
    }
    .mobMenuItemWithSubmenu{
        position: relative;
    }
    .mobMenuItemWithSubmenu:after{
        content: ">";
        display: inline-block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        color: rgba(0,0,0,.6);
    }
    .mobMenuItem > .toSale{
        font-weight: 700;
        color: #f70063;
    }
    .mobSumMenuTitle{
        padding-top: 0;
    }

    .mobSearchBlock .searchInput {
        display: block;
        border: 1px solid;
        padding: 5px;
        border-radius: 8px;
    }
    .mobSearchBtn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .mobSearchBlock .searchBlock{
        width: 300px;
    }
    .signInBlockContainer{
        display: none;
        flex-direction: column;
        width: 100vw;
        position: fixed;
        left: 0;
        top: 76px;
        background: #fff;
        height: 100vh;
        align-items: center;
        justify-content: flex-start;
        padding-top: 25px;
        z-index: 3;
        overflow: auto;
    }
    .signInContainer{
        position: static;
    }
    #headerNavSliderContainer{
        background: #fff;
        padding: 0 15px;
    }

    #headerNavSlider li{
        display: inline-block;
    }

}

@media screen and (min-width: 769px){
    .searchBtn .headerActionTitle,
    .mobileSearchResultContainer,
    .mobSearchBlock{
        display: none !important;
    }
}
@media screen and (max-width: 768px){
    .searchBtn{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .headerActionTitle{
        display: block !important;
    }
    .searchInput{
        display: none;
    }
    .desktopSearchResultContainer{
        display: none;
    }

}



@media screen and (max-width: 576px){
    .container,
    header{
        padding-left: 0;
        padding-right: 0;
    }
    .logoBlock{
        width: 100%;
        max-width: 135px;
        margin-right: 10px;
    }
    .headerActions svg{
        width: 20px;
    }
    .headerActions>div{
        margin-right: 15px;
    }
    .headerActions>div:last-child{
        margin-right: 15px;
    }
    .signInContainer{
        width: 90%;
    }
    .socialMediaButtons>a,
    .benifitsTexts>p{
        font-size: 11px;
    }
    .benifitImg {
        width: 90%;
    }
    .signInBlock {
        padding: 0 10px;
    }
    .forgotPasswordBlock{
        padding: 20px;
    }
    .forgotPassBlockTitle{
        margin-bottom:30px;
    }
    .forgotPassBlockTitle > p:first-child{
        font-size: 30px;
    }
    .forgotPassBlockTitle > p:last-child{
        font-size: 30px;
        letter-spacing: 3px;
    }
    .forgotPasswordBlock button{
        font-size: 12px;
        padding: 12px 18px;
        margin: 30px 0 20px;
    }
    .forgotPasswordBlock form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 330px){
    .headerActionTitle{
        display: none;
    }
}
